@page
@model FreelanceAtTutors.Pages.TutorsAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tutors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.TutorsDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.TutorsDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.Number_of_hour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.Number_of_hour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Tutors.TutorsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
