@page
@model FreelanceAtTutors.Pages.TutorsAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tutors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.TutorsDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.TutorsDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.Number_of_hour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.Number_of_hour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tutors.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tutors.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tutors.TutorsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
