@page
@model FreelanceAtTutors.Pages.TutorsAdmin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>แก้ไข</h2>

<h4>กรอกข้อมูลที่ต้องการแก้ไข</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tutors.TutorsID" />
            <div class="form-group">
                รายวิชาที่เปิดติว
                <input asp-for="Tutors.Subject" class="form-control" />
                <span asp-validation-for="Tutors.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันเวลา
                <input asp-for="Tutors.TutorsDate" class="form-control" />
                <span asp-validation-for="Tutors.TutorsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                สถานที่ติว
                <input asp-for="Tutors.Location" class="form-control" />
                <span asp-validation-for="Tutors.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                จำนวนชั่วโมงในการติว
                <input asp-for="Tutors.Number_of_hour" class="form-control" />
                <span asp-validation-for="Tutors.Number_of_hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                ราคา
                <input asp-for="Tutors.price" class="form-control" />
                <span asp-validation-for="Tutors.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
