@page
@model FreelanceAtTutors.Pages.TutorsAdmin.IndexModel

@{
    ViewData["Title"] = "วันเวลาการติวทั้งหมดในระบบ";
}

<h2>วันเวลาการติวทั้งหมดในระบบ</h2>

<p>
    <a asp-page="Create">สร้างวันเวลาการติวของคุณ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                รายวิชา
            </th>
            <th>
                วันเวลาที่เปิดสอน
            </th>
            <th>
                สถานที่
            </th>
            <th>
                จำนวนชั่วโมง
            </th>
            <th>
                ราคา/ชม.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_of_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TutorsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TutorsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TutorsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
