﻿@page
@model IndexModel
@{
    ViewData["Title"] = "ระบบติวหนังสือ";
}
<style>
h1{color: yellow;
    font-size: 30px;}
h2{color: red;
   font-family: verdana;
   font-size: 50px;
}
h3{color: white;
   font-family: courier;
   font-size: 50px;
}
</style>
<div class="jumbotron">
    <center><h2>ระบบรายงานการติวหนังสือ</h2><center>
</div>

<div class="row">
    <h3> การติวทั้งหมดในระบบ </h3>
    <table class="table">
    <thead>
        <tr><h1>
            <th><h1>รายวิชา</h1></th><th><h1>วันเวลา</h1></th><th><h1>สถานที่</h1></th><th><h1>จำนวนชั่วโมง</h1></th><th><h1>ราคา/ชม.</h1></th>
        </h1></tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tutors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TutorsDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_of_hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
        </tr>
}
    </tbody>
</table>
</div>
